.popular-class-section {
    background-color: rgb(var(--primary-color));
    padding: 8em 0;
}

.cover-section {
    font-size: 3rem;
    text-align: center;
    color: rgb(var(--secondary-color));
    margin-bottom: 3em;
    text-transform: uppercase;
    font-weight: 700;
}

.popular-class-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25em, 100%), 1fr));
    gap: 3em;
}